{% extends "layout.twig" %}

{% block content %}

<h1>Add Job</h1>

<form action="/hoja-de-vida-php/jobs/add" method="post">

    <label for="">Title:</label>
    <input name="title" type="text"><br>

    <label for="">Description:</label>
    <input name="description" type="text"><br>

    <button type="submit">Save</button>

</form>

{% endblock %}